$main-color: #36363a;
$hero-color: #d5c7bc;
$logo-color: #a78682;

#resume {
  color: $logo-color;
  font-weight: bolder;
  border: 1px solid $logo-color;
  padding: 0.5%;
}

.introduction {
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.intro-details {
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;

  .about-me-content {
    .emoji {
      font-size: 25px;
    }
  }
}
.photo-alice {
  border-radius: 50%;
  max-width: 70%;
  height: auto;
}
