$main-color: #36363a;
$hero-color: #d5c7bc;

#blog-main {
  justify-content: space-around;
  ul {
    list-style-type: none;
    padding-bottom: 1em;
  }
}

.nutrition-blog-section {
  margin: 3%;
  padding: 4%;
  
}

.programming-blog-section {
  margin: 3%;
  padding: 4%;
}
