$main-color: #36363a;
$hero-color: #d5c7bc;
$logo-color: #a78682;

.blog-post-body {
  padding: 10% 5% 10% 5%;
  background-color: $main-color;
  color: $hero-color;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.category {
  color: $logo-color;
  font-size: 2em;
  padding-bottom: 2em;
}

.blog-image {
  max-width: 100%;
  height: auto;
  padding: 5%;
}

.blog-post-title {
  color: $logo-color;
  font-size: 1.5em;
  padding: 5%;
}

.content {
  padding-bottom: 4%;
}

.date-published {
  color: $logo-color;
}
