$main-color: #36363A;
$hero-color: #D5C7BC;

header {
    // / width change here ------------------------
    // width: 100%;
    background-color: $main-color;
    color: $hero-color;
    padding: 2em;
    font-family: 'Roboto', sans-serif;
    

    nav {
        margin: 5% 10% 5% 5%;
        display: flex;
        justify-content: space-between ;

        .logo-links{
            display: flex;
            li {
                padding-bottom: 1em;

            }
            
            .icon {
                list-style: none;
                
            }
            .logo {
                font-weight: bolder;
                list-style: none;
                font-size: 1.5em;
                text-transform: uppercase;
                letter-spacing: 0.5em;
                   
                
            } 
            
            
        }
        .nav-links { 
            :hover {
                text-decoration: underline;
            }   
            list-style: none;
            font-size: 1em;
            li{
                padding-bottom: 1em;
            }    
        
        }        
    } 
       
}

