$main-color: #36363a;
$hero-color: #d5c7bc;
$logo-color: #a78682;

header {
  background-color: $main-color;
  color: $hero-color;
  padding: 2em;
  font-family: "Roboto", sans-serif;

  nav {
    margin: 5% 10% 5% 5%;
    display: flex;
    justify-content: space-between;

    .logo-links {
      display: flex;
      li {
        padding-bottom: 1em;
      }

      .icon {
        list-style: none;
        :hover {
          color: $logo-color;
        }
      }
      .logo {
        color: $logo-color;
        font-weight: bolder;
        list-style: none;
        font-size: 1.5em;
        text-transform: uppercase;
        letter-spacing: 0.5em;
      }
    }
    .nav-links {
      :hover {
        color: $logo-color;
      }
      list-style: none;
      font-size: 1em;
      li {
        padding-bottom: 1em;
      }
    }
  }
}
