*{  
    
    margin: 0;
    padding: 0;
}

$main-color: #36363A;
$hero-color: #D5C7BC;


body {
    header {
        background-color: $main-color;
        color: $hero-color;
        padding: 2em;

        font-family: 'Roboto', sans-serif;
        nav {
            margin: 5% 10% 5% 2.5%;
            display: flex;
            justify-content: space-between ;

            .logo-links{
                display: flex;
                
                .logo {
                    font-size: 2em;
                    text-transform: uppercase;
                    letter-spacing: 0.5em;
                } 
                
            }
            .nav-links {    
                list-style: none;
                font-size: 1em;
                li{
                    padding-bottom: 1em;
                }    
            
            }        
        }            
    }
    
    section.hero {
        background-color: $hero-color;
        color: $main-color;
        display: flex;
        justify-content: center;
        align-items: center;

        

        h1 {
            font-family: 'Montserrat', sans-serif;
            font-size: 3em;
            font-weight: lighter;
            padding: 5%;

        
    
        }
        img{
            opacity: 60%;
            width: 100%;
            height: auto;
            padding: 5%;
            margin: 5%;
        }

    }

    // @media only screen and (max-width:768px){
     
    //       .home-image {
    //         size: 60%;
    //     } 
          

    // }

    // @media only screen and (max-width:375px){
        
    //      .home-image {
    //          size: 60%;
    //      } 
    // }
   
}

   

